@media (width > 992px) {
    .burger {
        display: none;
    }
}

@media (width <= 992px) {
    .burger {
        position: relative;
        width: 24px;
        height: 24px;
        z-index: 3;
        stroke: var(--main-color);
    }

    .burger__icon-menu, .burger--open .burger__icon-cross {
        display: block;
        stroke: var(--main-color);
    }

    .burger__icon-cross, .burger--open .burger__icon-menu {
        display: none;
    }
}