.menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.menu__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--main-color);
}

.header__actions {
    display: flex;
    gap: 21px;
}

.header__actions-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--main-color);
}

.header__actions-icon {
    stroke: currentColor;
}